.preloader {
  display: none;
}

.container {
  background-color: #4FD1C5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}

.search-input:focus {
  border: 3px solid #5da2a8;
}

.search-button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #5da2a8;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background: #3c787e;
}

.icon-search {
  fill: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-of-page {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  width: 250px;
  height: 40px;
  background-color: rgb(161, 151, 151);
  border: 2px solid rgb(80, 76, 76);
  border-radius: 7px;
}

.end-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.load-more {
  display: none;
  min-width: 200px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  .show {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.load-more::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.load-more:hover, .load-moren:focus {
  color: #313133;
  transform: translateY(-6px);
}

.load-more:hover::before, .load-more:focus::before {
  opacity: 1;
}

.load-more::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.load-more:hover::after, .load-more:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.info {
  border: 1px solid gray;
  padding: 5px;
}

